.menu-toggle {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 130px;
  height: 53px;
  background: rgba(242, 237, 230, 0.75);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  transition: width 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform-origin: right;
  cursor: pointer;
  z-index: 1000;
}

.menu-copy {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  color: var(--base-450);
  transition: left 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 1;
}

.menu-copy p {
  color: var(--black);
  font-family: var(--font-montreal), sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  line-height: 1;
  font-weight: 600;
  line-height: 0.9;
}

.menu-toggle-icon {
  position: absolute;
  top: 2.5px;
  left: 2.5px;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background-color: var(--black);
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 10;
  overflow: hidden;
}

.menu-hamburger {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.menu-toggle:hover .hamburger,
.menu-toggle.opened .hamburger {
  opacity: 1;
}

.menu-bar {
  position: absolute;
  width: 16px;
  height: 1.5px;
  background: var(--off-white);
  transition-property: transform;
  transition: all 250ms ease-out;
}

.menu-bar[data-position='top'] {
  transform: translateY(-3px);
}

.menu-bar[data-position='bottom'] {
  transform: translateY(3px);
}

.menu-toggle.opened .menu-bar[data-position='top'] {
  transform: translateY(0) rotate(45deg) scaleX(1.05);
}

.menu-toggle.opened .menu-bar[data-position='bottom'] {
  transform: translateY(0) rotate(-45deg) scaleX(1.05);
}

@media (min-width: 320px) and (max-width: 768px) {
  .menu-toggle {
    position: fixed;
    bottom: 1.25rem;
    width: 120px;
    height: 53px;
    background: rgba(242, 237, 230, 0.75);
    backdrop-filter: blur(10px);
    border-radius: 40px;
    transition: width 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .menu-copy {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    color: var(--base-450);
    transition: left 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 1;
  }

  .menu-copy p {
    font-size: 1rem;
    text-transform: uppercase;
    line-height: 1;
    font-weight: 600;
  }
}
