.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100vw;
  min-height: 100svh;
  background-color: var(--pure-black);
}

.portfolio-header {
  width: 100%;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  overflow: hidden;
}

.portfolio-header h2 {
  font-family: var(--font-montreal);
  font-size: 1.25rem;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
  margin: 0;
}

.projects-count {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--tl00);
  color: var(--black);
  border-radius: 50%;
}

.projects-count span {
  font-family: var(--font-montreal);
  font-size: 0.8rem;
}

.portfolio-cont {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.portfolio-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 4rem;
  padding: 1.25rem;
}

@media (min-width: 320px) and (max-width: 768px) {
  .portfolio-grid {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 1.25rem;
    padding: 1rem;
  }

  .portfolio-header {
    padding: 12px 16px;
    margin-top: 60px;
  }

  .portfolio-header h2 {
    line-height: 1;
  }
}
