.pre-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  overflow: hidden;
  z-index: 100000;
  font-family: var(--font-machina);
  pointer-events: none;
}

.pre-loader .pre-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  color: var(--off-white);
}

.pre-loader .pre-block {
  width: 100%;
  height: 100%;
  background: var(--pure-black);
}

.pre-loader .pre-intro-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 0.5rem;
}

.pre-loader #pre-word-1 {
  position: relative;
  left: 0rem;
  padding-right: 0.25rem;
  color: var(--off-white);
}

.pre-loader #pre-word-2 {
  position: relative;
  left: 0.5rem;
  padding-left: 0.8rem;
  color: var(--off-white);
}

.pre-loader .pre-word h1 {
  font-size: 2rem;
  font-family: var(--font-machina) !important;
  font-weight: 600;
  color: var(--off-white);
  letter-spacing: -0.05rem;
  line-height: 1;
}

.pre-loader .pre-divider {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: center top;
  width: 1px;
  height: 100%;
  background-color: rgba(242, 237, 230, 0.3);
}

.pre-loader .pre-spinner-container {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.pre-loader .pre-spinner {
  width: 50px;
  height: 50px;
  border: 1.4px solid var(--base-350);
  border-top-color: rgba(242, 237, 230, 0.05);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.pre-loader .pre-counter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.pre-loader .pre-count {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.pre-loader .pre-digit {
  flex: 1;
  padding-top: 1rem;
  height: fit-content;
}

.pre-loader .pre-count .pre-digit .pre-counter-text {
  font-family: var(--font-machina);
  font-size: 15rem;
  font-weight: 400;
  color: var(--off-white);
  line-height: 1 !important;
}

.pre-loader .pre-line,
.pre-loader .pre-word,
.pre-loader .pre-count .pre-digit {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  height: fit-content;
}

.pre-loader .pre-line h1,
.pre-loader .pre-line p,
.pre-loader .pre-count .pre-digit h1 {
  position: relative;
  transform: translateY(120%);
  will-change: transform;
}

.pre-loader #pre-word-1 h1 {
  transform: translateY(-120%);
}

.pre-loader #pre-word-2 h1 {
  transform: translateY(120%);
}

.pre-loader .pre-block {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.pre-loader .pre-divider {
  transform: scaleY(0%);
  will-change: transform;
}

@media (max-width: 1000px) {
  .pre-loader .pre-counter .pre-count .pre-digit h1 {
    font-size: 7rem;
    line-height: 1 !important;
  }

  .pre-loader .pre-counter .pre-count .pre-digit {
    padding-top: 0.25rem;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .pre-loader .pre-word h1 {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1 !important;
  }
}
