.slider {
  position: relative;
  width: 100vw;
  height: 100svh;
  overflow: hidden;
  user-select: none;
}

.slide-track {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}

.slide {
  flex-shrink: 0;
  width: 750px;
  height: 500px;
  margin: 0 20px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  overflow: visible;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.slide-image {
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex: 1;
  clip-path: polygon(0 0, 80% 0, 100% 20%, 100% 70%, 100% 100%, 10% 100%, 0 90%, 0% 30%);
}

.slide-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  will-change: transform;
  transform: scale(2.25);
  user-select: none;
}

.slide-overlay {
  position: absolute;
  bottom: -1.75rem;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
  z-index: 10;
  transition: opacity 0.3s ease;
  opacity: 0;
}

.slide:hover .slide-overlay {
  opacity: calc(1 - var(--slider-moving, 1));
}

/* On touch devices, there's no hover — show the overlay (project title) by default */
.slider.touch-device .slide-overlay {
  opacity: 1 !important;
}

.project-title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.8rem;
}

.project-arrow {
  width: 16px;
  height: 16px;
}

.project-arrow svg {
  stroke: #fff;
  stroke-width: 2;
}

/* sample project page */
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #0f0f0f;
  color: #fff;
}

.container a,
.container p {
  display: block;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 500;
}

.container a {
  text-decoration: none;
  color: #5f5f5f;
}

.text-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 40px;
  left: 0;
  padding: 20px;
  color: #fff;
}

.text-head {
  display: flex;
  align-items: center;
  gap: 12px;
}

.text-head h5 {
  font-family: var(--font-montreal);
  font-size: 1.2rem;
  line-height: 1;
  font-weight: 600;
  text-transform: uppercase;
}

.text-head .number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  aspect-ratio: 1/1;
  background-color: var(--tl00);
}

.number p {
  font-family: var(--font-montreal);
  font-size: 1rem;
  line-height: 1;
  color: var(--black);
}

@media (min-width: 320px) and (max-width: 768px) {
  .slider {
    height: 60svh;
  }
  .slide {
    flex-shrink: 0;
    width: 300px;
    height: 200px;
  }

  .slide-image img {
    transform: scale(1.2);
    user-select: none;
  }

  .text-head h5 {
    font-size: 0.8rem;
  }

  .text-head .number {
    width: 20px;
    height: 20px;
  }

  .text-bar {
    padding: 12px 16px;
  }
}
